<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Biblioteka.Properties.Settings.AdventureWorks2014ConnectionString"
            connectionString="Data Source=DESKTOP-3A0E4T2\SQLEXPRESS;Initial Catalog=AdventureWorks2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>